body {
    width: 1440px;
    padding: 0px;
    margin: 0 auto;
}

.ref {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: black;
}

.navigation-profile {
    display: flex;
    gap: 20px;
    padding: 20px;
    list-style: none;
    width: 1440px;
    margin: 0;
    box-sizing: border-box;
    border-bottom: 4px solid #2F2D27;
    box-shadow: 0px 4px 4px 0px #00000040;
    align-items: center;
}

.site-icon{
    display: block;
}

.logo-name {
    font-family: PT Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 51.76px;
    letter-spacing: -0.04em;
    text-align: left;
    color:#FDF6DA;
    text-decoration: none;
    margin-right: 1030px;
}

.small-logo {
    display: block;
}

.profile {
    background-color:#2F2D27;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.tab-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.88px;
    text-align: left; 
    margin-left: 30px;
    width: 200px;
    color:#CBC0AE; 
}

.tab-list li {
    margin: 0;
    padding: 0;
}

.tab-list a {
    display: flex;
    align-self: center;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
    color:#CBC0AE;   
    width: 150px;
}

.list-item-slide {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.border-bottom {
    border-bottom: 2px solid #AB8C43;
}

.profile-preview{
    display: flex;
    width: 1020px;
    background-image: url(../img/books.png);
    margin: 0 auto;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    justify-content: center;
    margin-top: -4px;
    height: 400px;
    position: relative;
}

.profile-preview h1 {
    font-family: PT Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.06px;
    text-align: left;
    color: white;    
    margin: 0 auto;
    margin-top: 25px;
}


.prof-descript {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 130px;
    width: 1016px;
    margin-left: 4px;
    align-self: flex-end;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 15px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.big-site-icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 140px;
    height: 140px;
    position: absolute;
    bottom: 120px;
}

.description{
    font-family: PT Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.53px;
    text-align: left;
    color: white;
    margin: 0 auto; 
    margin-bottom: -10px;
}

.subscribe-button {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.12px;
    text-align: center;    
    background: #FDF6DA;
    padding: 10px 80px;
    border-radius: 10px;
    width: 240px;
    height: 40px;
    box-sizing: border-box;
}

.sub-button {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 10px;
}

.books {
    display: block;
}

.blog-section {
    background-color:#2F2D27;
    padding-top: 70px;
    padding-bottom: 30px;
}

.post {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 50px;
    width: 1016px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-right:95px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    gap: 45px;
    align-items: flex-start;
    position: relative;
}

.post-popularity {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-underpicture {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.post-likes {
    display: flex;
    background: #F8454563;
    border-radius: 10px;
    padding: 8px;
    color: #FF5C4F;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: PT Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.53px;
    letter-spacing: -0.08em;
    text-align: justified;
    gap: 5px;
    height: 25px;
    align-items: center;
    box-sizing: border-box;
}

.post-comments {
    display: flex;
    background: #2F2D27;
    border-radius: 10px;
    padding: 8px;
    color: #726D63;
    font-family: PT Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.53px;
    letter-spacing: -0.08em;
    text-align: justified;
    gap: 5px;
    height: 25px;
    align-items: center; 
    box-sizing: border-box;   
}

.post-header {
    font-family: PT Sans;
    font-size: 27px;
    font-weight: 700;
    line-height: 34.94px;
    text-align: left;
    color: white;  
    margin: 0;  
    border-bottom: 2px solid white;
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.post-text {
    font-family: PT Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.06px;
    text-align: justified;
    color: white;
    margin: 0;
}

.read-next {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.41px;
    text-align: left;
    color: white; 
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    bottom: 0px;
    right: 20px;
}